@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    ---cor-do-fundo: #388A8B;
    ---cor-do-texto: #EFFFFF;
    ---cor-do-destaque: #5DEBD7;
    ---cor-hover: #FF9800;

    ---fonte-primaria: 'Krona One', sans-serif;
    ---fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(---cor-do-fundo);
    color: var(---cor-do-texto);
}

.cabecalho{
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(---fonte-secundaria);
    font-size: 1,5rem;
    font-weight: 600;
    color: var(---cor-do-destaque);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(---cor-hover);
}

.titulo-destaque{
    color: var(---cor-do-destaque);
}

.apresentacao{
    height: 100%;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2,25rem;
    font-family: var(---fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1,5rem;
    font-family: var(---fonte-secundaria)
}

.apresentacao__links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: var(---fonte-primaria);
}

.apresentacao__links__subtitulo{
    font-family: var(---fonte-primaria);
    font-weight: 400;
    font-size: 1,5rem;
}

.apresentacao__links__botoes{
    display: flex;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: var(---cor-do-texto);
}

.apresentacao__links__botoes:hover{
    background-color: var(---cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: var(---cor-do-fundo);
    background-color: var(---cor-do-destaque);
    padding: 24px;
    font-family: var(---fonte-secundaria);
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 915px) {
    .cabecalho{
        padding: 10%;
    }
        .cabecalho__menu{
        justify-content: center;
        }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}
